<div class="form-row align-items-center">
    <div class="col-auto">
        <label class="mb-0">Gender</label>
        <input type="text" class="form-control mb-2" readonly value="{{ gender }}">
    </div>
    <div class="col-auto">
        <label class="mb-0">Skin</label>
        <input type="text" class="form-control mb-2" readonly value="{{ skin }}">
    </div>
    <div class="col-auto">
        <label class="mb-0">Hair</label>
        <input type="text" class="form-control mb-2" readonly value="{{ hair }}">
    </div>
    <div class="col-auto">
        <label class="mb-0">Eyes</label>
        <input type="text" class="form-control mb-2" readonly value="{{ eyes }}">
    </div>
    <div class="col-auto">
        <label class="mb-0">Birth</label>
        <input type="text" class="form-control mb-2" readonly value="{{ birth }}">
    </div>
    <div class="col-auto">
        <label class="mb-0">Height</label>
        <input type="text" class="form-control mb-2" readonly value="{{ height }}">
    </div>
    <div class="col-auto">
        <label class="mb-0">Mass</label>
        <input type="text" class="form-control mb-2" readonly value="{{ mass }}">
    </div>
</div>